    
    <div class="w-full max-w-2xl mx-auto p-4 sm:p-6 bg-[#1d1867] text-[#f1f1f1] rounded-lg shadow-lg">
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold text-center mb-10 tracking-widest font-nexaHeavy">
        PUNTOS & GEMAS
      </h2>
    <img 
        src="assets/puntosygemas.png" 
        alt="Puntos y Gemas" 
        class="w-full h-auto mb-6 rounded-md"
    />
  
    <p class="text-base sm:text-lg leading-relaxed font-nexaBold mb-4">
      ¡Compra tus <span class="text-[#00eefd] font-bold">puntos de juego</span> hoy y comienza la diversión!
    </p>
  
    <ul class="list-disc list-inside space-y-1 pl-4 text-sm sm:text-base leading-relaxed font-nexaRegular">
      <li>
        <span class="text-[#00eefd] font-semibold">Participa</span> en grandes desafíos que te permitirán ganar 
        <span class="text-[#9450e0] font-bold">GEMAS</span>.
      </li>
      <li>
        <span class="text-[#00eefd] font-semibold">Acumula</span> tus <span class="text-[#9450e0] font-bold">GEMAS</span> 
        y cámbialas por premios épicos en cualquier momento.
      </li>
    </ul>
  </div>
  