<section class= "text-white p-8">
    <div class="max-w-3xl mx-auto">
      <!-- Título -->
      <h1 class="text-4xl font-bold mb-4">
        <span class="bg-[#00eefd] text-black px-2 py-1 -skew-x-12 inline-block">Políticas</span>
        <span>de devolución</span>
      </h1>
      <!-- Contenido -->
      <article class="space-y-4 text-lg">
        <p>
          Durante la instalación, se debe proceder a montar todos los artefactos, incluyendo luces y publicidad. 
          Además, se deberán grabar videos del evento desde al menos 4 ángulos o secuencias diferentes, con el objetivo 
          de documentar la experiencia de los participantes.
        </p>
        <p>
          Durante el evento, es fundamental atender al público con amabilidad y una sonrisa en el rostro. Se debe 
          invitar a los asistentes a participar activamente y mantener un ambiente ordenado y respetuoso. También se 
          debe acompañar y asistir a los participantes en cada momento de su experiencia.
        </p>
        <p>
          Es importante destacar que solo los miembros del equipo pueden manipular los artefactos, garantizando así 
          su correcto uso y funcionamiento.
        </p>
      </article>
    </div>
  </section>
  