<section class="py-12 w-full">
  <!-- Título principal -->
  <h2 class="text-4xl uppercase font-bold text-center text-[#f1f1f1] mb-8">
    Servicios
  </h2>

  <!-- Contenedor principal del slider -->
  <div *ngIf="fotos.length > 0; else noFotos" class="max-w-6xl mx-auto relative">
    <!-- Imagen slider -->
    <div class=" rounded-lg shadow-md p-6 max-w-[640px] mx-auto">
      <div class="relative w-full h-[750px] rounded-lg overflow-hidden">
        <div *ngFor="let foto of fotos; let i = index"
             [class.opacity-100]="currentIndex === i"
             [class.opacity-0]="currentIndex !== i"
             class="absolute inset-0 transition-opacity duration-500 ease-in-out">
          <img
            [src]="foto.url"
            [alt]="foto.titulo"
            class="object-cover w-full h-full"
          />
        </div>
      </div>
    </div>

    <!-- Botones de navegación -->
    <button 
      (click)="prevSlide()"
      class="absolute left-4 top-1/2 -translate-y-1/2 text-[#00eefd] p-1 transition-colors"
      *ngIf="fotos.length > 1">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>

    <button 
      (click)="nextSlide()"
      class="absolute right-4 top-1/2 -translate-y-1/2 text-[#00eefd] p-1 transition-colors"
      *ngIf="fotos.length > 1">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <!-- Bloque alternativo cuando no hay fotos -->
  <ng-template #noFotos>
    <div class="text-center text-gray-400">
      <p class="text-lg">No hay imágenes disponibles para este servicio.</p>
    </div>
  </ng-template>

  <!-- Contenido adicional -->
  <div class="text-center text-[#f1f1f1] mt-8">
    <!-- Iconos o imágenes adicionales -->
    <div class="flex justify-center space-x-6 mb-6">
      <img src="assets/PlayStation_VR2_logo.svg" alt="PlayStation VR" class="h-5 sm:h-6">
      <img src="assets/Oculus.svg" alt="Oculus" class="h-5 sm:h-6">
      <img src="assets/Nintendo_Switch_Logo.svg" alt="Nintendo_Switch_Logo" class="h-8 sm:h-12 sm:mt-[-5px]">
    </div>
  
    <!-- Botón de acción -->
    <a [routerLink]="'/tienda'"
       class="inline-block w-[30%] bg-[#00eefd] font-bold text-lg px-8 py-3 rounded-md 
              hover:bg-[#00cce3] transition-all duration-300">
      <span class="text-[#1f1062] font-bold text-[30px]">Cotiza aquí</span>
    </a>
  </div>
</section>
