<section class="container mx-auto px-4 py-8">
  <!-- Título Principal -->
  <header class="text-left mx-4 sm:mx-24 my-8">
    <h1 class="text-[25px] text-white font-bold">Nuestros Servicios</h1>
  </header>

  <!-- Imágenes Estilizadas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Imagen 1 -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden">
      <img
        src="assets/servicio-empresa.jpg"
        alt="Imagen del servicio"
        class="w-full object-cover h-[495px]"
      />
    </div>

    <!-- Imagen 2 -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden">
      <img
        src="assets/servicio-empresa2.jpg"
        alt="Imagen del servicio"
        class="w-full object-cover h-[500px]"
      />
    </div>

    <!-- Imagen 3 -->
    <div class="bg-white rounded-xl shadow-lg overflow-hidden">
      <img
        src="assets/servicio-empresa3.jpg"
        alt="Imagen del servicio"
        class="w-full object-cover h-[500px]"
      />
    </div>
  </div>

  <!-- Formulario de Contacto -->
  <section class="mt-12">
    <header class="text-left mx-4 sm:mx-24 my-8">
      <h1 class="text-[25px] text-white font-bold">Contáctanos</h1>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Columna 1: Formulario -->
      <div class="justify-self-end w-full max-w-lg">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="submit()"
          class="bg-gray-100 p-6 rounded-lg shadow-md w-full"
        >
          <!-- Nombre -->
          <div class="mb-4">
            <label for="nombre_solicitante" class="block text-sm font-medium text-gray-700">
              Nombre Solicitante
            </label>
            <input
              type="text"
              id="nombre_solicitante"
              formControlName="nombre_solicitante"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>

          <!-- Empresa -->
          <div class="mb-4">
            <label for="empresa" class="block text-sm font-medium text-gray-700">
              Nombre Empresa
            </label>
            <input
              type="text"
              id="empresa"
              formControlName="empresa"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>

          <!-- Cargo -->
          <div class="mb-4">
            <label for="cargo" class="block text-sm font-medium text-gray-700">
              Cargo
            </label>
            <input
              type="text"
              id="cargo"
              formControlName="cargo"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            />
          </div>

          <!-- Servicios -->
          <div class="mb-4">
            <label class="block mb-2 text-gray-700 font-medium">Servicios a Arrendar</label>
            <div *ngFor="let servicio of serviciosDisponibles" class="flex items-center space-x-2">
              <input
                type="checkbox"
                [value]="servicio.valor"
                (change)="onCheckboxChange($event, 'servicios')"
                [checked]="contactForm.get('servicios')?.value.includes(servicio.valor)"
                class="w-4 h-4"
              />
              <label class="text-sm font-medium text-gray-700">{{ servicio.nombre }}</label>
            </div>
          </div>

          <!-- Zonas de Envío -->
          <div class="mb-4">
            <label for="zona_envio" class="block text-sm font-medium text-gray-700">
              Zona de Envío
            </label>
            <select
              formControlName="zona_envio"
              id="zona_envio"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            >
              <option *ngFor="let zona of zonasDisponibles" [value]="zona.valor">
                {{ zona.nombre }}
              </option>
            </select>
          </div>

          <!-- Mensaje -->
          <div class="mb-4">
            <label for="mensaje" class="block text-sm font-medium text-gray-700">
              Mensaje
            </label>
            <textarea
              id="mensaje"
              formControlName="mensaje"
              rows="4"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            ></textarea>
          </div>

          <!-- Botón Enviar -->
          <button
            type="submit"
            class="w-full bg-blue-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </section>
</section>
