<div class="flex items-center space-x-2">
    <button
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
      class="bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 disabled:bg-gray-100"
    >
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)"
      class="bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-300 disabled:bg-gray-100"
    >
      Siguiente
    </button>
  </div>
  