<section class="py-12 w-full">
    <!-- Título principal -->
    <h2 class="text-4xl uppercase font-bold text-center text-white mb-8">
      {{ tecnologia.nombre }}
    </h2>
  
    <!-- Contenedor principal -->
    <div class="max-w-6xl mx-auto relative">
      <!-- Imagen -->
      <div class="shadow-md p-3 text-center max-w-[640px] mx-auto">
        <div class="flex flex-col gap-4">
          <div class="relative w-full h-[600px] rounded-lg overflow-hidden flex justify-center items-center">
            <img
              [src]="tecnologia.imagen.url"
              [alt]="tecnologia.nombre"
              class="rounded-lg shadow-lg max-w-full max-h-full align-middle transform hover:scale-105 transition-transform duration-300"
            />
          </div>          
        </div>
      </div>
  
    
    </div>
  
    <!-- Contenido adicional -->
    <div class="mt-5 text-center text-white">
        <h3 class="uppercase text-3xl font-bold text-[#f1f1f1]">
            {{ tecnologia.nombre }}
          </h3>

          <p class="text-lg mt-6 text-[#f1f1f1]">
            {{ tecnologia.descripcion }}
          </p>
    </div>

    <div class="text-center text-[#f1f1f1] mt-8">
      <!-- Contenedor de logos -->
      <div class="flex justify-center flex-wrap gap-4 sm:gap-8 mb-8">
        <img src="assets/PlayStation_VR2_logo.svg" alt="PlayStation VR" class="h-5 sm:h-6">
        <img src="assets/Oculus.svg" alt="Oculus" class="h-5 sm:h-6">
        <img src="assets/Nintendo_Switch_Logo.svg" alt="Nintendo Switch" class="h-8 sm:h-12 sm:mt-[-5px]">
      </div>
    
      <!-- Botón -->
      <a 
        [routerLink]="'/tienda'"
        class="inline-block w-[80%] sm:w-[40%] bg-[#00eefd] text-center font-bold px-8 py-4 rounded-lg hover:bg-[#00cce3] transition-all duration-300"
      >
        <span class="text-[#1f1062] font-bold text-[24px] sm:text-[32px]">
          Cotiza aquí
        </span>
      </a>
    </div>
    
  </section>
  