<section class="rounded-lg text-white ">
    <!-- Título principal -->
    <h2 class="sm:text-2xl py-2 px-4 -skew-x-12 inline-block mt-6">
      <span class="bg-[#00eefd] text-black px-2 py-1 -skew-x-12 inline-block uppercase font-bold">metodos</span> <span class="text-[#00eefd] text-[30px] uppercase font-roboto"> DE PAGO</span>
    </h2>
  
    <!-- Descripción -->
    <p class="ml-4 sm:ml-20 text-base font-roboto sm:text-lg leading-relaxed">
      Para confirmar tu reserva, es necesario abonar el <span class="font-semibold">100% del total</span> con al menos <span class="font-semibold">3 días de anticipación.</span>
    </p>
    <p class="ml-4 sm:ml-20 text-base font-roboto sm:text-lg leading-relaxed">
      El pago restante se debe realizar al finalizar la instalación.
    </p>
    <p class="ml-4 sm:ml-20 text-base font-roboto sm:text-lg leading-relaxed">
      Ofrecemos diversas opciones de pago para tu comodidad:
    </p>
  
    <!-- Opciones de Pago -->
    <div class="mt-8 space-y-6">
      <!-- Opción 1 -->
      <div>
        <h3 class="bg-[#00eefd] text-black  text-[22px] uppercase py-2 px-6 -skew-x-12 w-fit font-bold">
          <span class="skew-x-12 font-roboto">PÁGINA WEB / LINK DE PAGO WEBPAY / TRANSBANK</span>
        </h3>
        <p class="ml-4 sm:ml-20 text-sm font-roboto sm:text-base leading-relaxed">
          Paga de manera segura y rápida.
        </p>
      </div>
  
      <!-- Opción 2 -->
      <div>
        <h3 class="bg-[#00eefd] text-black font-bold text-[22px] uppercase py-2 px-6 -skew-x-12 w-fit">
          <span class="skew-x-12 font-roboto">TARJETAS DE CRÉDITO, DÉBITO Y PREPAGO</span>
        </h3>
        <p class="ml-4 sm:ml-20 text-sm sm:text-base leading-relaxed font-roboto">
          Aceptamos todas las principales tarjetas. Disfruta de hasta 12 cuotas sin interés.
        </p>
      </div>
  
      <!-- Opción 3 -->
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-start mt-8">
        <div class="flex-1">
          <h3 class="bg-[#00eefd] text-black font-bold text-[22px] uppercase py-2 px-6 -skew-x-12 w-fit">
            <span class="skew-x-12 font-roboto">TRANSFERENCIA BANCARIA</span>
          </h3>
          <br>
          <p class="ml-4 font-roboto sm:ml-20 text-sm sm:text-base leading-relaxed">
            <strong>VIMERZION SPA</strong><br>
            77.650.387-8<br>
            Cuenta Corriente Banco Santander<br>
            Nº 0000-9162579-2<br>
            vimerzion&#64;gmail.com
          </p>
        </div>
        <div class="sm:-ml-16 pt-16 sm:mt-0 sm:w-1/4">
          <img src="assets/web-pay-full.png" alt="Métodos de Pago y Equipos" class="w-32 sm:w-40">
        </div>
      </div>
    </div>
  </section>
  