<section class="relative h-auto flex items-center justify-center">
    <div class="w-full max-w-7xl px-4">
      <div class="relative">
        <img 
          src="assets/user.svg" 
          alt="Usuario con VR" 
          class="mx-auto 
            w-[85%]           
            max-[400px]:mb-[-5vh]    
            max-[480px]:mb-[-4vh]
            max-[536px]:mb-[-8.2vh]
            max-[639px]:mb-[-10vh]
            max-[640px]:mb-[-8.5vh]    
            sm:w-[80%] sm:mb-[-14.6vh] 
            md:w-[65%] md:mb-[-15.4vh] 
            lg:w-[50%] lg:mb-[-14.7vh] 
            xl:w-[45%] 
            2xl:w-[40%] 
            h-auto 
            object-contain"
        >
    </div>

        <!-- Texto superpuesto -->
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center space-y-4 lg:space-y-6">
            <h1 class="text-white flex flex-wrap justify-center items-center gap-4 sm:gap-6 lg:gap-8">
              <span  
              class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold tracking-widest cursor-pointer transition font-montserrat hover:text-[#00eefd]"
              (click)="handleSelection('Personas')">
            
              PERSONAS
            </span>
            
            <!-- Separador -->
            <span 
              class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-light"
            >
              |
            </span>
            
            <!-- Empresas -->
            <span 
             
              class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold tracking-widest cursor-pointer transition font-montserrat hover:text-[#00eefd]"
              (click)="handleSelection('Empresas')">
            
              EMPRESAS
            </span>
            </h1>
        </div>
        

        <!-- Subtítulo -->
         <!-- Subtítulo -->
         <div class="absolute bottom-[2px] sm:bottom-[-20px] md:bottom-[-25px] lg:bottom-[-25px] xl:bottom-[-25px] 2xl:bottom-[-25px] w-full flex justify-center">
            <p class="text-sm sm:text-base md:text-lg lg:text-xl text-white tracking-widest font-light uppercase">
              LÍDERES EN EXPERIENCIAS INMERSIVAS
            </p>
        </div>
    </div>
</section>
