<div class="w-full px-4 md:px-8 max-w-3xl mx-auto">
    <div class="bg-[#1d1867] text-[#f1f1f1] rounded-lg shadow-lg p-6 sm:p-8">
      
      <h2 class="text-3xl sm:text-4xl md:text-5xl font-nexaHeavy uppercase text-center mb-8 tracking-widest">
        Torneos
      </h2>
  
      <img
        src="assets/torneosimagen.png"
        alt="Torneos"
        class="w-full h-auto rounded-md mb-6"
      />
  
      <p class="text-base sm:text-lg md:text-xl font-nexaBold leading-relaxed mb-6 text-center">
        <span class="text-2xl sm:text-3xl md:text-4xl block font-nexaHeavy uppercase text-[#00eefd] mb-4">
          Desafía a los Mejores
        </span>
        Cada semana te invitamos a enfrentarte a otros jugadores apasionados en las mejores experiencias gaming.
        <br />
        Desde emocionantes torneos en consolas <strong>PlayStation 5</strong> y <strong>Nintendo Switch</strong>,
        hasta desafiantes juegos cooperativos en <strong>Realidad Virtual</strong>.
        <br /><br />
        <span class="font-bold">¡Gana premios semanales!</span>
        <br /><br />
        <span class="uppercase block mt-4 mb-2">Inscríbete ahora y recibe más información sobre cómo participar.</span>
        <a
          href="https://chat.whatsapp.com/GWGx4ZfdPMFInD0gBKRbOf"
          target="_blank"
          class="inline-block mt-4 text-[#00eefd] underline font-bold hover:text-[#00cce3] transition-colors duration-300"
        >
          Link de comunidad vía WhatsApp
        </a>
      </p>
      <img
  src="assets/qrgrupowhatsapptorneos.png"
  alt="QRTorneos"
  class="h-auto rounded-md mb-6 mx-auto"
/>

  </div>
  